@import 'bootstrap/dist/css/bootstrap.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

/* FONT COLORS  */

.purple {
  color: #4D3F82;
}


/* BACKGROUNDS */

.gradient-background {
  background: linear-gradient(#4D3F82, white, #4D3F82);
}

/* PETITE COCHON FONT CLASSES */

.pc-font-xlg {
  font-family: 'PetitCochon';
  font-size: 100px;
}

.pc-font-lg {
  font-family: 'PetitCochon';
  font-size: 80px;
}

.pc-font-md {
  font-family: 'PetitCochon';
  font-size: 50px;
}

.pc-font-sm {
  font-family: 'PetitCochon';
  font-size: 30px;
}

.pc-font-xsm {
  font-family: 'PetitCochon';
  font-size: 20px;
}

/* MULLER FONT CLASSES */

.muller-bold-md {
  font-family: 'MullerBold';
  font-size: 50px;
}

.muller-bold-sm {
  font-family: 'MullerBold';
  font-size: 20px;
}

.muller-bold-xsm {
  font-family: 'MullerBold';
  font-size: 14px;
}

.muller-med-md {
  font-family: 'MullerMedium';
  font-size: 50px;
}

.muller-med-sm {
  font-family: 'MullerMedium';
  font-size: 20px;
}

.muller-med-xsm {
  font-family: 'MullerMedium';
  font-size: 14px;
}

.muller-reg-md {
  font-family: 'MullerRegular';
  font-size: 50px;
}

.muller-reg-sm {
  font-family: 'MullerRegular';
  font-size: 20px;
}

.muller-light-md {
  font-family: 'MullerLight';
  font-size: 50px;
}

.muller-light-sm {
  font-family: 'MullerLight';
  font-size: 20px;
}

.muller-light-xsm {
  font-family: 'MullerLight';
  font-size: 14px;
}

/* BUTTONS */

.login-btn {
  background-color: #D7263D;
  border-color: #D7263D;
  color: white;
  border-radius: 24px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 0px;
}

.login-btn:hover {
  background-color: #ac1e31;
  border-color: #ac1e31;
}

.logout-btn {
  height: 40px;
  width: 80px;
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 2px;
  margin: 10px;
  background-color: #D7263D;
  border-color: #D7263D;
  color: white;
  border-radius: 15px;
}

.teal-btn {
  background-color: #1B998B;
  border-color: #1B998B;
  color: white;
  border-radius: 20px;
  padding-bottom: 0px;
  padding-top: 8px;
}

.teal-btn:hover {
  background-color: #167a6f;
  border-color: #167a6f;
}

/* NAVBAR, LOGO, SIGN OUT */

.navbar-top {
  display: flex;
  justify-content: space-between
}

.nav-bg {
  background-color: #dbd9e6;
}

.logo {
  height: 60px;
  width: 60px;
  margin: 0px;
  padding: 0px;
}

.logo:hover {
  opacity: 0.5;
}

.nav-icon {
  height: 30px;
  width: 30px;
  margin: 0px;
  padding: 0px;
}

.nav-icon:hover {
  opacity: 0.5;
}

/* FORMS  */

.image-list-container {
  display: flex;
  justify-content: center;
}


/* HOUSEHOLD STYLES */

.household-page-container {
  margin-left: auto;
  margin-right: auto;
}

.household-menu-img {
  border-radius: 30px;
}
