@import 'bootstrap/dist/css/bootstrap.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: linear-gradient(#edecf3, #4D3F82);
    background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: linear-gradient(white, #4D3F82);
}

/* FONT COLORS  */

.purple {
  color: #4D3F82;
}

.red {
  color: #D7263D;
  -webkit-text-stroke: .5px black;
}

.orange {
  color: #F46036;
  -webkit-text-stroke: .5px black;
}

.lime {
  color: #b1c262;
  -webkit-text-stroke: .5px black;
}


/* BACKGROUNDS */
.gradient-background1 {
  background: linear-gradient(#4D3F82, white, #4D3F82);
}

.gradient-background2 {
  background: linear-gradient(white, #4D3F82);
}

/* PETITE COCHON FONT CLASSES */
.pc-font-xlg {
  font-family: 'PetitCochon';
  font-size: 100px;
}

.pc-font-lg {
  font-family: 'PetitCochon';
  font-size: 80px;
}

.pc-font-md {
  font-family: 'PetitCochon';
  font-size: 50px;
}

.pc-font-sm {
  font-family: 'PetitCochon';
  font-size: 30px;
}

.pc-font-xsm {
  font-family: 'PetitCochon';
  font-size: 20px;
}

/* MULLER FONT CLASSES */
.muller-bold-md {
  font-family: 'MullerBold';
  font-size: 36px;
}

.muller-bold-sm {
  font-family: 'MullerBold';
  font-size: 20px;
}

.muller-bold-xsm {
  font-family: 'MullerBold';
  font-size: 16px;
}

.muller-bold-xxsm {
  font-family: 'MullerBold';
  font-size: 11px;
}

.muller-med-md {
  font-family: 'MullerMedium';
  font-size: 50px;
}

.muller-med-sm {
  font-family: 'MullerMedium';
  font-size: 20px;
}

.muller-med-xsm {
  font-family: 'MullerMedium';
  font-size: 16px;
}

.muller-med-xxsm {
  font-family: 'MullerMedium';
  font-size: 11px;
}

.muller-reg-md {
  font-family: 'MullerRegular';
  font-size: 50px;
}

.muller-reg-sm {
  font-family: 'MullerRegular';
  font-size: 20px;
}

.muller-reg-xsm {
  font-family: 'MullerRegular';
  font-size: 16px;
}

.muller-reg-xxsm {
  font-family: 'MullerRegular';
  font-size: 11px;
}

.muller-light-md {
  font-family: 'MullerLight';
  font-size: 50px;
}

.muller-light-sm {
  font-family: 'MullerLight';
  font-size: 20px;
}

.muller-light-xsm {
  font-family: 'MullerLight';
  font-size: 16px;
}

.muller-light-xxsm {
  font-family: 'MullerLight';
  font-size: 11px;
}

/* BUTTONS */
.login-btn {
  background-color: #D7263D;
  border-color: #D7263D;
  color: white;
  border-radius: 24px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 0px;
}

.login-btn:hover {
  background-color: #ac1e31;
  border-color: #ac1e31;
}

.logout-btn {
  height: 40px;
  width: 80px;
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 2px;
  margin: 10px;
  background-color: #D7263D;
  border-color: #D7263D;
  color: white;
  border-radius: 15px;
}

.logout-btn:hover {
  background-color: #ac1e31;
  border-color: #ac1e31;
}

.teal-btn {
  background-color: #1B998B;
  border-color: #1B998B;
  color: white;
  border-radius: 16px;
  padding-bottom: 0px;
  padding-top: 8px;
  margin: 4px;
}

.teal-btn:hover {
  background-color: #167a6f;
  border-color: #167a6f;
}

.red-btn {
  background-color: #D7263D;
  border-color: #D7263D;
  color: white;
  border-radius: 16px;
  padding-bottom: 0px;
  padding-top: 8px;
  margin: 4px;
}

.red-btn:hover {
  background-color: #ac1e31;
  border-color: #ac1e31;
}

.orange-btn {
  background-color: #F46036;
  border-color: #F46036;
  color: white;
  border-radius: 16px;
  padding-bottom: 0px;
  padding-top: 8px;
  margin: 4px;
}

.orange-btn:hover {
  background-color: #c34d2b;
  border-color: #c34d2b;
}

.edit-btn {
  height: 45px;
  padding-top: 7px;
  padding-bottom: 0px;
  border-radius: 12px;
  background-color: #b1c262;
  border-color: #b1c262;
  margin: 10px;
}

.edit-btn:hover {
  background-color: #9ead57;
  border-color: #9ead57;
}

.add-btn {
  height: 45px;
  width: 45px;
  padding: 6px;
  border-radius: 12px;
  background-color: #1B998B;
  border-color: #1B998B;
  margin: 10px;
}

.add-btn:hover {
  background-color: #167a6f;
  border-color: #167a6f;
}

.arrow-btn {
  background-color: white;
  border-color: white;
  height: 60px;
  width: 60px;
  padding-top: 12px;
  
}

.arrow-btn:hover {
  background-color: white;
  border-color: white;
  opacity: 0.5;
}

.log-btn {
  height: 50px;
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  background-color: white;
  border-color: white;
  padding-top: 4px;
  color: #62BD12;
  margin-top: 10px;
}

.log-btn:hover {
  background-color: white;
  border-color: white;
  opacity: 0.5;
}

.delete-btn {
  height: 45px;
  width: 45px;
  padding: 3px;
  border-radius: 12px;
  background-color: #D7263D;
  border-color: #D7263D;
  margin: 10px;
}

.delete-btn:hover {
  background-color: #ac1e31;
  border-color: #ac1e31;
}

.menu-img-shadow {
  box-shadow: 1.5px 1.5px black;
}

.household-menu-img:hover {
  opacity: 0.5;
}


/* NAVBAR, LOGO, SIGN OUT */
.navbar-top {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
}

.nav-bg {
  background-color: #edecf3;
  padding: 0px; 
  
}

.logo {
  height: 60px;
  width: 60px;
  margin: 0px;
  padding: 0px;
}

.logo:hover {
  opacity: 0.5;
}

.nav-icon {
  height: 30px;
  width: 30px;
  margin: 0px;
  padding: 0px;
}

.nav-icon:hover {
  opacity: 0.5;
}

/* PAGE HEADERS */
.double-header {
  display: flex;
  justify-content: space-between;
}

/* CONTAINERS */
.image-list-container {
  display: flex;
  justify-content: center;
}

.basic-page-container {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 100px 30px;
  max-width: 400px;
  margin: 0 auto;
}

.task-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

/* CARDS  */

.card-avatar {
  width: 30%;
  height: 75px;
  width: 75px;
}

.skinny-card {
  width: 18rem;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 16px;
}

.comment-card {
  margin-bottom: 20px;
}


/* TEXT/PLACE FORMATTING  */

.center {
  margin: auto;
}

.right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.text-left {
  text-align: left;
}

.btn-margin {
  margin-bottom: 20px;
}

.left {
  margin-right:auto;
}


/* FORMS */

.avatar-header {
  color: black;
}
