@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color:#4d3f82;
}

/* NAVBAR, LOGO, SIGN OUT */

.navbar-top {
  display: flex;
  justify-content: space-between
}

.navbar-bottom {
  justify-content: center;
}



.logo {
  height: 100px;
  width: 100px;
  margin: 0px;
  padding: 0px;
}

.logout-btn {
  height: 40px;
  width: 80px;
  padding: 0px;
  margin: 10px;
}
